<!DOCTYPE html>
<html>
<head>
	<title>Contact Page</title>
	<title>Donghoon's Portfolio</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
	<!-- Custom Font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

	<!-- Nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="views/about.html">About Me</a>
					</li>
					<li>
						<a href="views/work.html">Professional Projects</a>
					</li>
					<li>
						<a href="views/about.html">Personal Projects</a>
					</li>
					<li>
						<a href="views/about.html">Contact</a>
					</li>
					<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
				    <ul class="dropdown-menu">
			        <li>
		            <a href="https://github.com/donghoonkim1226" target="blank">
                  <img class="social-icon" src="static/image/index_image/github_icon.png"> - Github
                </a>
			        </li>
			        <li>
			          <a href="https://www.linkedin.com/in/dong-hoon-kim-514586108" target="blank">
                  <img class="social-icon" src="static/image/index_image/linkedin_icon.png"> - Linkedin
                </a>
			        </li>
			        <li>
                <a href="https://www.facebook.com/dong.h.kim.980" target="blank">
                  <img class="social-icon" src="static/image/index_image/facebook_icon.png"> - Facebook
                </a>
			        </li>
			        <li>
		            <a href="https://twitter.com/donghoonnn" target="blank">
                  <img class="social-icon" src="static/image/index_image/twitter_icon.png"> - Twitter
                </a>
			        </li>
				    </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Contact
	      </h1>
	      <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">Contact</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <!-- Contact Details Column -->
      <div class="col-md-4">
        <h3>Contact Details</h3>
        <p>
          6 Heritage Place<br>Tappan, NY 10983<br>
        </p>
        <p><i class="fa fa-phone"></i> 
          Phone: (201) 446-8778</p>
        <p><i class="fa fa-envelope-o"></i> 
          Email: <a href="mailto:donghoonkim1226@gmail.com.com">donghoonkim1226@gmail.com</a>
        </p>
        <ul class="list-unstyled list-inline list-social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-md-8">
        <h3>Send me a Message</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; https://gentle-eyrie-30635.herokuapp.com/ 2016</p>
            </div>
        </div>
    </footer>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>